.flex-nav-1 {
  display: none;
}

.docPost {
  margin-top: 10px;
  max-width: 700px;
  max-height: 550px;
  width: 700px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  object-fit: cover;
}


@media (max-width: 1265px) {
  .flex-nav-1 {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
  }

  .flex-nav-2 {
    display: none;
  }

  .flexContainerSM {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .flex-item-1 {
    justify-content: center;
    align-items: center;
    display: none;
  }
  
  .flex-item-2 {
    justify-content: center;
    align-items: center;
    width: 320px;
  }

  .docPost {
    max-width:100%;
    max-height:100%;
    object-fit: cover;
    height: auto;
  }

  
  .flex-item-3 {
    justify-content: center;
    align-items: center;
  }
}
  