.wrapperBodyPayg {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.textHeaderPayg {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
}

.formPayg {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 500px;
    margin: 10px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    overflow-wrap: break-word;
    margin-bottom: 0px;
    padding: 20px;
    border-radius: 20px;
    background: border-box rgb(255, 255, 255);
    margin-bottom: 30px;
}

.btnSubmitPayg {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@media screen and (max-width: 570px){
    .formPayg {
        width: 450px;
    }
}

@media screen and (max-width: 475px){
    .formPayg {
        width: 350px;
    }
}

@media screen and (max-width: 365px){
    .formPayg {
        width: 300px;
    }
}




  